/* BIG GUYS */

* {
  box-sizing: border-box;
}

body {
  background: #eeeeee;
}

/* HEADER */
.header {
  z-index: 1;
  width: 100%;
  height: 92px;
  background: #cf2b2b;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 0 0px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title {
  font-family: "Righteous", cursive;
  font-size: 44px;
  line-height: 55px;
  letter-spacing: -0.012em;
  color: #ffffff;
}
.subtitle {
  font-size: 18px;
  line-height: 21px;
  font-weight: lighter;
  color: #ffffff;
  font-family: roboto;
  font-weight: 400;
}

/* MAIN PAGE */

.main {
  margin: 129px 0 108px 0;
}
.options-header {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.018em;
  font-family: "Righteous", cursive;
  color: #333333;
  margin: 0 0 17px 16px;
}
.options-wrapper {
  height: 224px;
  margin-bottom: 19px;
  display: flex;
  overflow-x: scroll;
}
.option {
  position: relative;
  background: #ffffff;
  width: 172px;
  height: 216px;
  padding: 18px 14px 13px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.4);
  margin: 0 0 0 16px;
  font-family: roboto;
}
.margin-right {
  margin-right: 16px;
}
.option img {
  border-radius: 4px;
  width: 144px;
  height: 87px;
}
.option-name {
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  font-weight: 700;
}
.option-description {
  font-size: 15px;
  line-height: 18px;
  color: #a6a6a6;
  font-weight: 300;
}
.option-price {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-weight: 400;
}
.check {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 8px;
  display: none;
}
.check img {
  width: 15.44px;
  height: 15.44px;
}

/* FOOTER */

.confirm-wrapper {
  width: 100%;
  height: 92px;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto;
}
.confirm-button {
  width: 364px;
  height: 61px;
  background: #cbcbcb;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
}
.confirm-button div {
  width: 200px;
}

/* CONFIRMATION PAGE */

.confirm-page {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;
}
.confirm-box {
  width: 377px;
  height: 353px;
  background: #50d074;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 20px 25px 2px 25px;
  font-family: roboto;
  letter-spacing: 0.018em;
}
.confirm-header {
  font-weight: 700;
  margin: 0 0 28px 0;
}
.confirm-line {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.018em;
  margin: 0 0 13px 0;
}
.final-confirm-button {
  width: 333px;
  height: 52px;
  background: #ffffff;
  color: #50d074;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin: 24px 0 0 0;
}
.cancel {
  width: 333px;
  height: 52px;
  color: #ffffff;
  background: #50d074;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: RED;
  font-size: 20px;
  line-height: 23px;
}
.bold {
  font-weight: 700;
}

/* FONTS */

@font-face {
  font-family: roboto;
  src: url(../assets/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: roboto;
  src: url(../assets/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: roboto;
  src: url(../assets/Roboto-Light.ttf);
  font-weight: 300;
}

/* JAVA SCRIPT */

.selected {
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 0px 5px #32b72f;
}
.confirmation {
  z-index: 1;
  display: none;
}
.green-button {
  background: #32b72f;
}

.appear {
  display: flex;
}
